---
title: The Fortress Architect
chapter: 4
sections:
  - title: Introduction
    id: introduction
references:
  - nist-framework
---

<script>
  export let title;
  export let references;
  import References from '$lib/components/References.svelte';
</script>

# {title}

Fortress under construction...


<References citationIds={references} /> 