---
title: Guarding the Granary
chapter: 12
sections:
  - title: Introduction
    id: introduction
references:
  - nist-framework
---

<script>
  export let title;
  export let references;
  import References from '$lib/components/References.svelte';
</script>

# {title}

Content coming soon...

<References citationIds={references} />
